/* CSS declarations go here */
#barChart rect:hover{
	fill: orange;
}

#linegraph .axis path,
#linegraph .axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
/*
#linegraph .x.axis path {
	  display: none;
	}

#linegraph .line {
	stroke: #ccc;
	stroke-width: 1.5px;
    fill: url(#area-gradient);	
}
*/
.area {							
    fill: url(#area-gradient);					
    stroke-width: 0px;			
}
